[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]
ipython = "*"
pre-commit = "*"
black = "==20.8b1"

[packages]
django = "*"
python-decouple = "*"
gunicorn = "*"
pytest-django = "*"

[requires]
python_version = "3.8"
